<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
      quibusdam, nostrum voluptates numquam inventore natus excepturi dolores
      cumque amet, officiis asperiores ratione minima explicabo commodi,
      veritatis distinctio laboriosam tempora iusto.
    </p>
  </body>
</html>
